<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload A.png and B.png files with classifier selection</title>
</head>
<body>
    <h2>Upload A.png and B.png files with classifier selection</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="png1-file">Select .png file (A):</label>
        <input type="file" id="png1-file" name="file_a" accept=".png" required><br><br>

        <label for="png2-file">Select .png file (B):</label>
        <input type="file" id="png2-file" name="file_b" accept=".png" required><br><br>

        <label for="label-predict">Select classifier:</label>
        <select id="label-predict" name="label">
            <option value="ЛУК РЕПЧАТЫЙ">ЛУК РЕПЧАТЫЙ</option>
            <option value="КАРТОФЕЛЬ">КАРТОФЕЛЬ</option>
            <option value="КАПУСТА БЕЛОКОЧАННАЯ">КАПУСТА БЕЛОКОЧАННАЯ</option>
            <option value="МИНТАЙ">МИНТАЙ</option>
        </select><br><br>

        <button type="button" onclick="uploadFiles()">Upload</button>
    </form>
    <div id="content"></div>

    <script>
        async function uploadFiles() {
            const formData = new FormData();
            const pngFile1 = document.getElementById("png1-file").files[0];
            const pngFile2 = document.getElementById("png2-file").files[0];
            const labelPredict = document.getElementById("label-predict").value;

            formData.append("file_a", pngFile1);
            formData.append("file_b", pngFile2);
            formData.append("label", labelPredict);

            try {
                const response = await fetch("http://127.0.0.1:8000/a_b_label_predict", {
                    method: "POST",
                    body: formData
                });

                if (!response.ok) {
                    console.error("Server error:", response.status, response.statusText);
                    const errorData = await response.json();
                    console.error("Error details:", errorData);
                    return;
                }

                const result = await response.json();
                console.log("Server response:", result);

                if (result.img_with_mask) {
                    const img = document.createElement("img");
                    img.src = `data:image/png;base64,${result.img_with_mask}`;// Проверьте правильность этого выражения
                    img.alt = "Image with mask";
                    document.getElementById("content").appendChild(img);

                    const modelAnswer = document.createElement("p");
                    modelAnswer.textContent =`Model Answer: ${result.model_answer}`;
                    document.getElementById("content").appendChild(modelAnswer);
                }
            } catch (error) {
                console.error("Error:", error);
            }
        }

    </script>
</body>
</html>
